*{
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 13px;
  background: #fff;
  width: 400px;
  height: 500px;
  overflow-x:hidden;
}

.main {
  overflow: hidden;
  margin: 0px;
  padding: 15px;
}

.header {
    height: 70px;
    background-color: #6C50B0;
    color: #fff;
}

.logo {
  width: 100px;
  float: left;
  margin-left: 15px;
  margin-top: 15px;
}

.header h1 {
    font-size: 2em;
    padding: 0;
    margin-top: 15px;
    margin-right: 15px;
    float: right
}

.card-image{
  width: 40%;
}

select.form-control, input.form-control {
  background: none;
  color: #6C50B0;
  font-size: 13px;
  padding: 10px 10px 0px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #999;
  box-shadow: none;
}

select.form-control:focus,input.form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid #6C50B0;
}
.form-group label {
  color: #666
}
